:root {
    --primary-color: #306fb1;
    /*azul*/
    --secondary-color: #af929d;
    /*rose quartz*/
    --accent1-color: #6a8d73;
    /*reseda green*/
    --accent2-color: #b66d0d;
    /*tiger's eye orange*/
    --heading-font: "Old Standard TT", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--accent1-color);
    max-width: 1000px;
}


header nav {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}


main {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    justify-content: space-around;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 120px;
    left: 8%;
    width: 80%;
    padding: 25px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 175px;
    height: auto;
    padding: 5px;
}

footer {
    display: flex;
    margin-top: 15px;
    border-top: 1px solid var(--accent1-color);
    justify-content: space-around;
    background-color: var(--accent1-color);
    color: black;
}

.history {
    margin: 1rem auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
}

.header {
    grid-column: 1/4;
}

.header2 {
    grid-column: 1/6;
    margin-bottom: 1rem;
    text-align: center;
}

.figure {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    color: var(--accent1-color);
    text-align: center;
}

figure img {
    width: 180px;
    height: auto;
    padding: 10px;
}