

:root {
    --primary-color: #306fb1;  /*azul*/
    --secondary-color: #af929d;  /*rose quartz*/
    --accent1-color: #6a8d73;  /*reseda green*/
    --accent2-color: #b66d0d;  /*tiger's eye orange*/
    --heading-font: "Old Standard TT", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 120px;
    left: 35%;
    width: 60%;
    padding: 25px;
    text-align: left;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 130px;
    height: auto;
    padding: 5px;
}